<html>
<head>
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <p>If you have any questions, please feel free to contact us at:</p>
    <form action="/submit" method="post">
        <h1>Submit a form</h1>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
    
        <input type="submit" value="Submit">
</body>
</html>